<div id="blogs">

</div>
<div class="pagination pagination-centered" id="pagination"></div>
<input id="pagination_setting" type="hidden" per="15">
@section scripts{
    <script src="@Url.Content("~/js/pager.js")"></script>

    <script id="blogs-template" type="text/x-handlebars-template">
        {{#each blogs}}
        <div style="width:100%;height:150px">
            <h2 style="background: url(images/h2_bgm.gif) no-repeat left center">
                <a href="@Url.Action("BlogDetail", "Home")?blogId={{id}}">
                    <span>
                        &nbsp;&nbsp;{{title}}
                    </span>
                </a>
            </h2>
            <p>
                Posted by <a href="javascript:void(0)">Owner</a>
            </p>
            <div id="box">
               {{{content}}}
            </div>
            <p class="spec">
                <a class="rm" href="@Url.Action("BlogDetail", "Home")?blogId={{id}}">Read more</a> &nbsp;•&nbsp;
                <a class="com" href="@Url.Action("BlogDetail", "Home")?blogId={{id}}">Comments ({{commentCount}})</a> &nbsp;•&nbsp;
                <span class="date">{{addTime}}</span>
            </p>

        </div>
        {{/each}}
    </script>

    <script>
        $(function () {
            getBlog(0);
        });
       

        function getBlog(current_page) {
            $.get('@Url.Action("GetBlogs", "Home")',
            {
                pageIndex: current_page === 0 ? 1 : current_page + 1,
                pageSize: 5,
                categoryId: '@(Context.Request.Query["categoryId"].FirstOrDefault()==null?Guid.Empty.ToString():Context.Request.Query["categoryId"].FirstOrDefault())'
            }, function (responseText) {
                var tableTemplate = Handlebars.compile($("#blogs-template").html());
                $('#blogs').html(tableTemplate(responseText));
                $('#pagination_setting').attr('count', responseText.totalCount);
                initPagination(current_page);
            });
        }


        function initPagination(current_page) {
            $('#pagination').pagination(parseInt($('#pagination_setting').attr('count')), {
                current_page: current_page,
                items_per_page: 5,
                num_display_entries: 3,
                num_edge_entries: 1,
                callback: getBlog,
                prev_text: '上一页',
                next_text: '下一页'
            });
        }
    </script>
}
