@using NewBlogger.Dto
@model BlogDto
<style>
    p {
        margin: 8px 0;
        padding: 0 0 8px 0;
    }
</style>
<link href="@Url.Content("~/lib/wangEditor/dist/css/wangEditor.css")" rel="stylesheet" />
<div class="mainbar">
    <div class="article">
        <h2 style="background: url(/images/h2_bgm.gif) no-repeat left center">
            <span>
                &nbsp;&nbsp; @Model.Title
            </span>
        </h2>
        <div class="clr"></div>
        <p>Posted by <a href="#">Owner</a> </p>
        <p>@Model.Content</p>
        <p>
            Tagged:
            @{
                foreach (var tag in Model.Tags)
                {
                    <a href="javascript:void(0)">@tag.Name</a>
                }
            }

        </p>
        <p><a href="javascript:void(0)"><strong>Comments (@Model.Comments.Count)</strong></a> <span>&nbsp;•&nbsp;</span> @Model.AddTime <span>&nbsp;•&nbsp;</span> </p>
    </div>
    <div class="article">
        <h2 style="background: url(/images/h2_bgm.gif) no-repeat left center">
            <span>
                &nbsp;&nbsp;  <font size="5"><font color="#00b3ea">@(Model.Comments.Count)</font> Responses</font>
            </span>
        </h2>
        <div class="clr"></div>
        @{
            foreach (var comment in Model.Comments)
            {
                <text>
                <div class="well">
                    <div class="comment">
                        <span class="comment_actions">
                            <a href="javascript:void(0);" onclick="setCommentId('@comment.Id','@comment.ReplyNickName')">回复</a>
                        </span>
                        <a href="javascript:void(0)"><img src="~/images/userpic.gif" width="40" height="40" alt="" class="userpic"></a>
                        <p>
                            <a href="javascript:void(0);">@comment.ReplyNickName</a> Says:<br>
                            @comment.AddTime.ToString("yyyy-MM-dd HH:mm:ss")
                        </p>
                      @Html.Raw(comment.Content)
                    </div>
                </div>
                </text>
            }
        }
    </div>
    <div>
        <h2 style="background: url(/images/h2_bgm.gif) no-repeat left center">
            <span>
                &nbsp;&nbsp;  <font size="5"><font color="#00b3ea">Leave a</font> Reply</font>
            </span>
        </h2>
        <div class="clr"></div>
        <form action="@Url.Action("Reply", "Home")" method="post" id="leavereply">
            <input type="hidden" id="blogId" name="blogId" value="@Model.Id" />
            <input type="hidden" id="replyId" name="replyId" value="" />
            <ol>
                <li>
                    <label for="name">Name (required)</label>
                    <input type="text" datatype="name" id="name" name="name" class="text" nullmsg="昵称不能为空">
                    <span class="Validform_checktip"></span>
                </li>
                <li>
                    <label for="email">Email Address (required)</label>
                    <input type="text" datatype="email" id="email" name="email" class="text" nullmsg="邮箱不能为空">
                    <span class="Validform_checktip"></span>
                </li>
                <li>
                    <label for="message">Your Message (required)</label>
                    <textarea datatype="message" id="message" name="message" rows="15" cols="50" style="max-height:500px;" nullmsg="回复不能为空"></textarea>
                    <span class="Validform_checktip"></span>
                </li>
                <li>
                    <input type="image" name="imageField" id="imageField" src="~/images/submit.gif" class="send">
                    <div class="clr"></div>
                </li>
            </ol>
        </form>
    </div>
</div>
@section scripts{

    <script src="@Url.Content("~/lib/Validform/Validform.js")"></script>

    <script src="@Url.Content("~/lib/wangEditor/dist/js/wangEditor.js")"></script>

    <script>
        $(function () {

            InitValidForm();

            InitEditor();
        });

        function InitValidForm() {
            $("#leavereply").Validform({ //指明是哪一表单需要验证,名称需加在form表单上;
                tiptype: 4,
                label: ".label",
                showAllError: true,
                datatype: {
                    'name': function (value) {
                        if (value.length <= 0) {
                            return false;
                        }
                        return true;
                    },
                    'email': function (value) {
                        if (value.length <= 0) {
                            return false;
                        }

                        var szReg = /^([a-zA-Z0-9_\.\-])+\@@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/;

                        if (szReg.test(value)) {
                            return true;
                        }

                        return false;
                    },
                    'message': function (value) {
                        if (value.length <= 0) {
                            return false;
                        }
                        return true;
                    }
                },
                ajaxPost: true,
                callback: function (data) {

                    if (parseInt(data.status) === 1) {
                        location.reload(true);
                    }
                }
            });
        }

        function InitEditor() {
            var editor = new wangEditor('message');

            // 普通的自定义菜单
            editor.config.menus = [
                'source',
                '|',
                'bold',
                'underline',
                'italic',
                'eraser',
                'forecolor',
                '|',
                'fontfamily',
                'fontsize',
                '|',
                'emotion',
                '|',
                'img',
                'insertcode',
                '|',
                'undo',
                'redo'
            ];

            editor.config.uploadImgUrl = '@Url.Action("UploadImage","Home")';

            editor.config.hideLinkImg = true;

            editor.create();

            window.editor = editor;
        }


        function setCommentId(id, nickName) {

            $('#replyId').val(id);

            window.editor.$txt.html('');

            window.editor.$txt.append('<p>回复：<a href="javascript:void(0)">' + nickName + '</a></p>');
        }
    </script>
}

