<html>
<head>
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="~/css/style.css" rel="stylesheet" />
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <style>
        #box {
            position: relative;
            line-height: 1.2;
            height: 3.5em;
            overflow: hidden;
        }

        a {
            text-decoration: none !important;
        }

         html,body { height: 100%; padding: 0; margin: 0; }
        .outer { height: 100%; }
        .A { height: 400px; }
        .B { height:auto;}

        ul>li
        {
            margin-right: 10px;
        }
    </style>

</head>
<body style="height:100%;">
    <div class="outer" style="display:flex;flex-direction:column;">
        <div class="wrap A" >
            <div class="header-top">
                <div class="logo">
                    <a href="@Url.Action("Index","Home")"><img src="~/images/logo.png" alt="" /></a>
                </div>
                <div class="h_menu4">
                    <!-- start h_menu4 -->
                    <a class="toggleMenu" href="javascript:void(0)">菜单</a>
                    <ul class="nav">
                        <li class="active">
                            <a href="@Url.Action("Index","Home")">首页</a>
                        </li>
                        <li>
                            <a href="@Url.Action("ContactMe","Home")">联系我</a>
                        </li>
                         <li>
                            <a href="@Url.Action("AboutBlog","Home")">关于博客</a>
                        </li>
                    </ul>
                </div><!-- end h_menu4 -->
                <div class="clear"></div>
            </div>
            <div class="slider">
                <div class="da-slider">
                    <div class="da-slide da-slide-current">
                        <h1>@ViewBag.Title</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="main B" style="flex:1;">
            <div class="wrap" style="margin-bottom: 80px;">
                <div class="col_1_of_4" style="width: 65%">
                    @RenderBody()
                </div>
                <div style="float: right; width: 30%; margin: 2% 0 1% 0">
                    <div class="float-lt">
                        <div class="well">
                            <h4>文章搜索</h4>
                            <div class="input-group">
                                <input class="form-control" type="text">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button" style="height:34px;">
                                        <span class="glyphicon glyphicon-search"></span>
                                    </button>
                                </span>
                            </div>
                        </div>
                        <div class="well">
                            <h4>文章分类</h4>
                            <div class="row" id="categories">

                            </div>
                            <!-- /.row -->
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
        <div class="footer-bottom" style="">
            <div class="wrap">
                <div class="copy">
                    <p>© @DateTime.Now.Year Powered by<a href="javascript:void(0)" target="_blank"> ASP.NET Core on Linux</a></p>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
</body>

</html>
<script src="@Url.Content("~/js/jquery.min.js")"></script>
<script src="@Url.Content("~/js/nav.js")"></script>
<script src="@Url.Content("~/js/handlebars-v4.0.5.js")"></script>

<script id="categories-template" type="text/x-handlebars-template">
    <div class="float-lt col-lg-6">
        <ul class="list-unstyled">
            {{#each categories}}
                <li>
                    <a href="@Url.Action("Index","Home")?categoryId={{id}}">{{name}}&nbsp;({{blogCount}})</a>
                </li>
            {{/each}}
        </ul>
    </div>

</script>
<script>
    $(function() {
        $.get('@Url.Action("GetCategories", "Home")', function (responseText) {
            var tableTemplate = Handlebars.compile($("#categories-template").html());
            $('#categories').html(tableTemplate(responseText));
        });
    })
</script>

@RenderSection("scripts", required: false)

