@using NewBlogger.Dto
@{
    var tags = ViewData["Tags"] as IList<TagDto>;

    var categorys = ViewData["Categorys"] as IList<CategoryDto>;

    Layout=null;
}

<html>
    <head>
       <style>
            .divfloat
            {
                float:left
            }
       </style>
       <link href="@Url.Content("~/lib/wangEditor/dist/css/wangEditor.css")" rel="stylesheet" />
    </head>
    <body style="width:100%">
        <div id="tags" class="divfloat" style="border-color:royalblue;border-style:dashed;width:25%">
            <div style="margin-top:10px;margin-left:10px">
                <i>标签：</i><input type="text" id="tagName" width=100px> <button id="addTag">添加</button>    
            </div>
            <div style="width:auto;margin-top:10px;margin-bottom:10px;margin-left:10px;margin-right:10px;">
                <table border="1" style="width:100%">
                    <thead>
                        <tr>
                            <td style="width:50%">标题</td>
                            <td style="width:50%">操作</td>                            
                        </tr>
                    </thead>
                     <tbody>
                        @if(tags.Any())
                        {
                            foreach(var tag in tags)
                            {
                                <tr>
                                    <td>@tag.Name</td>
                                    <td><a href="javascript:void(0)" onclick="removeTag('@tag.Id')">删除</a></td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td colspan="2" style="text-align:center">暂无数据</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div id="categorys" class="divfloat" style="border-color:royalblue;border-style:dashed;width:25%;margin-left:10px">
              <div style="margin-top:10px;margin-left:10px">
                <i>类别：</i><input type="text" id="categoryName" width=100px> <button id="addCategory">添加</button>    
              </div>
                <div style="width:auto;margin-top:10px;margin-bottom:10px;margin-left:10px;margin-right:10px;">
                <table border="1" style="width:100%">
                    <thead>
                        <tr>
                            <td style="width:50%">标题</td>
                            <td style="width:50%">操作</td>                            
                        </tr>
                    </thead>
                     <tbody>
                        @if(categorys.Any())
                        {
                            foreach(var category in categorys)
                            {
                                <tr>
                                    <td>@category.Name</td>
                                    <td><a href="javascript:void(0)" onclick="removeCategory('@category.Id')">删除</a></td>
                                </tr>
                            }
                        }else
                        {
                            <tr>
                                <td colspan="2" style="text-align:center">暂无数据</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div style="border-color:red;border-style:dashed;clear:both;width:50%;">
           <div style="margin-top:10px;margin-left:10px;">
                <i>标题：</i><input type="text" value="" id="title" /><br/>
                <i>目录Id：</i>
                    <select id="categoryselect" onchange="javascript:GetBlogs()">
                        @if(categorys.Any())
                        {
                            foreach(var category in categorys)
                            {
                                <option data-categoryid="@category.Id">@category.Name</option>            
                            }
                        }else
                        {
                            <option>暂无目录Id</option>
                        }
                    </select>
                <br/>
                <i>标签Id：</i>
                    <select id="tagselect">
                        @if(tags.Any())
                        {
                            foreach(var tag in tags)
                            {
                                <option data-tagid="@tag.Id">@tag.Name</option>
                            }
                        }else
                        {
                                <option>暂无标签Id</option>
                        }
                    </select>
                <br/>
                    <div style=" margin-top:10px; margin-right:10px;">
                        <textarea  id="content" name="content" rows="15" cols="50" style="max-height:500px;" nullmsg="回复不能为空"></textarea>
                    </div>
                <br/>
                <button type="button" id="addBlog" onclick="addBlog();">添加文章</button>
           </div>
            
            <table border="1" style="width:100%;margin-top:10px;">
                <head>
                    <tr>
                        <td>标题</td>
                        <td>查看数</td>
                        <td>回复数</td>
                        <td>添加时间</td>
                        <td>操作</td>
                    </tr>
                </head>
                <tbody id="blogs">
                                    
                </tbody>
            </table>
        </div>
    </body>
</html>
<script src="@Url.Content("~/js/jquery.min.js")"></script>
<script src="@Url.Content("~/lib/wangEditor/dist/js/wangEditor.js")"></script>
<script src="@Url.Content("~/js/handlebars-v4.0.5.js")"></script>

<script id="blogs-template" type="text/x-handlebars-template">
    {{#if blogs}}
        {{#each blogs}}
            <tr>
                <td>{{title}}</td>
                <td>{{viewCount}}</td>
                <td>{{commentCount}}</td>
                <td>{{addTime}}</td>
                <td>
                    <a href="javascript:void(0);">删除</a>
                    <a href="javascript:void(0);">修改</a>
                </td>
            </tr>
        {{/each}}
    {{else}}
        <tr>
            <td colspan="5" style="text-align:center">
                暂无文章
            </td>
        </tr>
    {{/if}}

   
</script>
<script>
    $(function(){

        //初始化编辑器
        InitEditor();

        //获取博客列表
        GetBlogs();

        //添加标签
        $('#addTag').on('click',function(){
            var tagName= $('#tagName').val();
            $.post('@Url.Action("AddTag","Home")',{tagName:tagName},function(){
                location.reload();
            })
        });

        //添加类别
        $('#addCategory').on('click',function(){
            var categoryName = $('#categoryName').val();
            $.post('@Url.Action("AddCategory","Home")',{categoryName:categoryName},function(){
                location.reload();
            })
        });

        //添加类别
        $('#addBlog').on('click',function(){
            
            var title = $('#title').val();

            var content = $('#content').val();

            var categoryId =  $('#categoryselect').find('option:selected').attr('data-categoryid');

            var tagId = $('#tagselect').find('option:selected').attr('data-tagid');

            $.post('@Url.Action("AddBlog","Home")', { title:title, content:content, categoryId:categoryId,tagId:tagId }, function(responseText) {
                    location.reload();
            });            
        })
    })


    function GetBlogs(){
        $.get('@Url.Action("GetBlogs","Home")',
        {
            pageIndex:1,
            pageSize:10
        },function(responseText){      
            var tableTemplate = Handlebars.compile($('#blogs-template').html());
            $('#blogs').html(tableTemplate(responseText));
        })
    }

    //删除标签
    function removeTag(tagId){
        $.post('@Url.Action("RemoveTag","Home")',{tagId:tagId},function(responseText){
            location.reload();
        })
    }

    //删除类别
    function removeCategory(categoryId){
        $.post('@Url.Action("RemoveCategory","Home")',{categoryId:categoryId},function(responseText){
            location.reload();
        })
    }

    //删除文章
    function removeBlog(blogId){
        
    }

    function InitEditor() {
        
        var editor = new wangEditor('content');

        // 普通的自定义菜单
        editor.config.menus = [
            'source',
            '|',
            'bold',
            'underline',
            'italic',
            'eraser',
            'forecolor',
            '|',
            'fontfamily',
            'fontsize',
            '|',
            'emotion',
            '|',
            'img',
            'insertcode',
            '|',
            'undo',
            'redo'
        ];

        editor.config.uploadImgUrl = '@Url.Action("UploadImage","Home",new{area=""})';

        editor.config.hideLinkImg = true;

        editor.create();

        window.editor = editor;
    }
</script>